# There are two channels for light: Upwelling and Downwelling. This section
# associates a shutter (1, 2 or 3) and a fibre with each channel. This
# information is required to ensure that the correct shutter (1, 2 or 3) is
# openend to record each spectrum. This section also includes information about
# the optical fibre used for each channel. This information is not used by the
# Piccolo, but it is saved in the meatadata (header) section of data (Pico)
# files.
#
# If the polarity of a shutter connection has been reversed the shutter will
# be open when it should be closed; and closed when it should be open. If this
# happens, try changing Reverse from false to true.

[channels]
  [[upwelling]]
    shutter = -1
    reverse = False # Is the polarity of the shutter connection reversed?
    fibreDiameter = 600 # micrometres
  [[downwelling]]
    shutter = -1
    reverse = False
    fibreDiameter = 400

# Some spectrometers have adjustable configuration options. For example, the
# Ocean Optics NIRQuest 512 spectrometer has a detector which is cooled (or
# heated) by a thermoelectric cooler. The temperature to which the detector will
# be cooled can be adjusted. A cooler temperature will reduce the electronic
# noise in the signal and increase the power consumption. The spectrometer's fan
# can also be turned on or off. These settings will be applied when the
# Piccolo's hardware is initialized. The settings will be applied only to the
# spectrometer with the given serial number.
[spectrometers]
  [[__many__]]
    detectorTemperature = float(default=None)
    fan = boolean(default=None)
